header {
    background: radial-gradient(circle, #d2a1e6, #9fbcf6 70%);
}
.basic-navigation {
    display: flex;
    flex-direction: row;
    align-items:normal;
}

#home-button {
    background: transparent;
    border-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
}
#home-button:hover {
    text-decoration: underline;
}
#previous-button {
    background-color: #ce9be2;
    box-shadow: 8px 8px 20px #9c52b9;
    border-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}
#next-button {
    background-color: #ce9be2;
    box-shadow: 8px 8px 20px #9c52b9;
    border-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}
#previous-button:hover {
    text-decoration: underline;
}
#next-button:hover {
    text-decoration: underline;
}
#basic-header {
    background-color: #9fbcf6;
    box-shadow: 8px 8px 20px #557bc7;
    color: #f8f9fa;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    display: center;
    border-radius: 10px;
}
.questions {
    margin-top: 40px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #557bc7;
}
h2 {
    margin-top: 30px;
    background-color: #ce9be2 ;
    padding: 1%;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    color: #f8f9fa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: 8px 8px 20px #9c52b9;
}
footer {
    margin-top: 75px;
}