.App {
  text-align: center;
}
body {
  background-color: #fcf8f5  ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#mini-header {
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#names {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}
#left-image {
  height: 200px;
  margin-right: 100px;
}
#right-image {
  height: 200px;
  margin-left: 100px;
}
#images-and-heading {
  display: flex;
  flex-direction:row;
  justify-content: center;

}
#header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  color: #fcf8f5;
}
.App-header {
  background: radial-gradient(circle, #e5c0f4, #9fbcf6 50%);
  color: #fcf8f5;
  padding:2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
