.App {
  text-align: center;
}
body {
  background-color: #fcf8f5  ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#mini-header {
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#names {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}
#left-image {
  height: 200px;
  margin-right: 100px;
}
#right-image {
  height: 200px;
  margin-left: 100px;
}
#images-and-heading {
  display: flex;
  flex-direction:row;
  justify-content: center;

}
#header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  color: #fcf8f5;
}
.App-header {
  background: radial-gradient(circle, #d2a1e6, #9fbcf6 70%);
  color: #fcf8f5;
  padding:2%;
}
.App-footer {
  background: radial-gradient(circle, #d2a1e6, #9fbcf6 70%);
  padding: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fcf8f5;
  font-size: 30px;
  font-weight: bold;
}
.Submit-Button {
  background-color: #fcf8f5;
  color: #557bc7;
  height: 50px;
  width: 100px;
  font-size: 25px;
}
.Submit-Button:hover {
  background-color: #ddd8d4;
  color: #557bc7;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
