.App {
  text-align: center;
 }
 body {
  background-color: #fcf8f5;
 }
 .nav-bar {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  margin-right: 2%;
 }
 #about-us {
  white-space: nowrap;
  margin-top: 20px;
  margin-left: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #b67ace;
  background-color: #edeceb;
  font-size: 20px;
  border-color: #d2d2d2;
}
#about-us:hover {
  background-color: #dfdedd;
}
#language-select {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #b67ace;
  margin-left: 72%;
  width: auto;
}
#language-label {
  white-space: nowrap;
}
#options {
  margin-left: 15px;
  background-color: #f0f0f0;
  color: #7698dc;
  font-weight: bold;
  height: 40px;
}
 #mini-header {
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }
 #names {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
 }
 #left-image {
  height: 200px;
 }
 #right-image {
  height: 200px;
 }
 #images-and-heading {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
 }
 #header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  color: #fcf8f5;
 }
 .App-header {
  background: radial-gradient(circle, #d2a1e6, #9fbcf6 70%);
  color: #fcf8f5;
  padding:1%;
 }
 .App-footer {
  background: radial-gradient(circle, #d2a1e6, #9fbcf6 70%);
  padding: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fcf8f5;
  font-size: 30px;
  font-weight: bold;
 }
 .Submit-Button {
  background-color: #fcf8f5;
  color: #688cd5;
  height: 50px;
  width: 150px;
  font-size: 25px;
  border-color: #ddd8d4;
  font-weight: bold;
 }
 .Submit-Button:hover {
  background-color: #ddd8d4;
  border-color: #ddd8d4;
  color: #688cd5;
 }
